use flake
export WORKDIR=$PWD
export PYTHONPATH=$WORKDIR/.nix-env/bin/python
export SN_DIR=$HOME/Documents/work/ipu/sponge_networks
just build-python-env
git config --local core.hooksPath $PWD/.githooks
